div,body,header,footer,section,nav,h1,h2 {
margin: 0;
padding: 0;
}

body {
  color: #fff;
}
h2 {
  text-align: center;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.mainNav {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.logoHeader {
  width: 350px;
  height: 250px;
  background-color: #4C4C4C;
  margin-left: 465px;
  margin-top: 60px;
}

.logoHeader h2 {
  margin-top: 120px;
}

.title {
  width: 200px;
  height: 60px;
  background-color: #4C4C4C;
  margin-left: 540px;
  margin-top: 60px;
}

.title h2 {
  margin-top: 25px;
}

.tagline {
  width: 400px;
  height: 47px;
  background-color: #4C4C4C;
  margin-left: 440px;
  margin-top: 20px;
}

.tagline h2 {
  margin-top: 20px;
}

.image1 {
  width: 420px;
  height: 300px;
  background-color: #707070;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: column;
}

.image2 {
  width: 420px;
  height: 300px;
  background-color: #707070;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  flex-direction: column;
}
.image3 {
  width: 420px;
  height: 300px;
  background-color: #707070;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  flex-direction: column;
}
.image4 {
  width: 420px;
  height: 300px;
  background-color: #707070;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: column;
}
.image5 {
  width: 420px;
  height: 300px;
  background-color: #707070;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  flex-direction: column;
}
.image6 {
  width: 420px;
  height: 300px;
  background-color: #707070;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  flex-direction: column;
}

.heading {
  background-color: #4C4C4C;
  width: 160px;
  height: 40px;
  margin-left: 128px;
  margin-top: 120px;
}

.button {
  background-color: #4C4C4C;
  width: 100px;
  height: 30px;
  margin-left: 160px;
  margin-top: 5px;
}


.mainFooter {
  height: 270px;
  background-color: #4C4C4C;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logoFooter {
  width: 350px;
  height: 250px;
  background-color: #707070;

  margin-top: 10px;
}

.logoFooter h2 {
  margin-top: 120px;
}
.facebook, .twitter, .instagram, .youtube {
  width: 50px;
  height: 50px;
  background-color: #707070;
  margin-top: 97px;
}

.facebook {
  margin-left: 315px;
}
.youtube {
  margin-right: 315px;
}
.contactFooter {
  height: 270px;
  background-color: #707070;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logoFooterCont {
  width: 350px;
  height: 250px;
  background-color: #4C4C4C;

  margin-top: 10px;
}

.logoFooterCont h2 {
  margin-top: 120px;
}
.facebookCont, .twitterCont, .instagramCont, .youtubeCont {
  width: 50px;
  height: 50px;
  background-color: #4C4C4C;
  margin-top: 97px;
}

.facebookCont {
  margin-left: 315px;
}
.youtubeCont {
  margin-right: 315px;
}

.text{
  background-color: #4C4C4C;
  width: 840px;
  height: 162px;
  margin-left: 220px;
}

.title_contact{
  width: 280px;
  height: 80px;
  background-color: #4C4C4C;
  margin-left: 500px;
  margin-top: 60px;
}

.title_contact h2 {
  margin-top: 35px;
}

.name, .email{
  width: 395px;
  height: 30px;
  background-color: #4C4C4C;
  margin-left: 150px;
}
.name h2{
  margin-right: 320px;
  margin-top: 9px;
}

.email h2{
  margin-right: 320px;
    margin-top: 9px;
}

.contact_us{
  width: 280px;
  height: 60px;
  background-color: #4C4C4C;
  margin-top: 30px;
  margin-left: 150px;
}

.contact_us h2{
  margin-top: 20px;
}

.message{
  width: 395px;
  height: 166px;
  background-color: #4C4C4C;
  margin-top: 30px;
  margin-left: 150px;
}

.message h2{
  margin-top: 18px;
  margin-right: 290px;
}

.submit{
  width: 145px;
  height: 50px;
  background-color: #4C4C4C;
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 30px;
}

.submit h2{
  margin-top: 17px;
}

.info{
  width: 395px;
  height: 278px;
  background-color: #4C4C4C;
  margin-top: 123px;
  margin-right: 150px;
  margin-bottom: 30px;
}

.info h2{
  margin-top: 120px;
}

.text{
  background-color: #4C4C4C;
  width: 840px;
  height: 162px;
  margin-left: 220px;
}


.button_1{
  width: 160px;
  height: 60px;
  background-color: #707070;
  margin-top: 20px;
  margin-left: 253px;
  margin-bottom: 50px;
}
.button_1 h2{
  margin-top: 20px;
}

.button_4{
  width: 160px;
  height: 60px;
  background-color: #707070;
  margin-top: 20px;
  margin-right: 253px;
}
.button_4 h2{
  margin-top: 20px;
}

.button_2 {
  width: 160px;
  height: 60px;
  background-color: #707070;
  margin-top: 20px;
}
.button_2 h2{
  margin-top: 20px;
}

.button_5{
  width: 160px;
  height: 60px;
  background-color: #707070;
  margin-left: 550px;
}

.button_5 h2{
  margin-top: 20px;
}

#nav {
  width: 900px;
  height: 75px;
  background-color: #4C4C4C;
}

#nav h2 {
  margin-top: 30px;
}

#form {
  width: 300px;
  height: 75px;
  background-color: #4C4C4C;
  margin-left: auto;
}

#form h2 {
  margin-top: 30px;
}
#aboutBanner {
  display: flex;
  flex-direction: column;
  height: 540px;
  background-color: #707070;
}

#aboutUs_1, #aboutUs_2 {
  display: flex;
  flex-direction: row;
}

#contactBanner{
  height: 540px;
  background-color: #707070;
  display: flex;
  flex-direction: column;
}

#sign_up{
  height: 200px;
  background-color: #4C4C4C;
  display: flex;
  flex-direction: column;
}

#buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contactContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:  #707070;
  height: 520px;
}

#contact_form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#slogan{
  background-color: #4C4C4C;
  height: 184px;
}
